* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
}

.container {
  max-width: 860px;
  border: 1px solid rgb(201, 201, 201);
  margin: auto;
  padding: 1rem; 
  border-radius: 6px;
  background-color: whitesmoke;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.course-input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 36px;
} 

@media (min-width: 600px) {
  .course-input-form {
    flex-direction: row;
    justify-content: space-between;
  }
}

.grade-input {
  padding: 8px 4px;
  outline: none;
  border: 1px solid rgb(206, 206, 206);
}

.course-input-form input {
  padding: 8px 4px;
  outline: none;
  border: 1px solid rgb(206, 206, 206);
}

.add-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 8px;
  background-color: blue;
  color: white;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s;
}

.add-button:hover {
  color: white;
  opacity: 0.8;
}

.add-button:active {
  opacity: 0.6;
}

.status-message {
  font-size: 1rem;
  font-weight: bold;
}

.error {
  color: red;
}

.success {
  color: green;
}

.course-list-header{
  display: flex;
  padding: 1rem 6px;
  align-items: center;
  gap: 25px;
  font-weight: bold;
  font-size: 1rem;
  background: #c1c0c9;
  color: #4c1d95;
}

.course-list-grid {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.course {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  padding: 0 4px;
  background: #dce6f1;
  background: white;
}

.course-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  padding-right: 28px;
  font-size: 1rem;
}

.delete-button {
  width: 18px;
  height: 18px;
}

.calculate-button {
  display: block;
  margin: 1rem auto;
  background: #facc15;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.calculate-button:hover {
  background: #eab308;
}

.result-display {
  text-align: center;
  font-size: 1rem;
  color: #3E3E43;
}

.italic-text {
  font-style: italic;
}