* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 1rem;
}

body.modal-open .add-button {
  display: none;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: (0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  background-color: rgb(15, 125, 250);
  width: 400px;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;
}

.modal p {
  font-size: 1rem;
  opacity: 1rem;
  margin-bottom: 16px;
  font-weight: 700;
  color: white;
}

.modal .close-button {
  background-color: rgb(0, 102, 0);
  border: none;
  color: white;
  padding: 6px 24px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
}

.container {
  max-width: 860px;
  border: 1px solid rgb(201, 201, 201);
  margin: auto;
  padding: 1rem; 
  border-radius: 6px;
  background-color: whitesmoke;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.course-input-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 36px;
} 

@media (min-width: 600px) {
  .course-input-form {
    flex-direction: row;
    justify-content: space-between;
  }
}

.grade-input {
  padding: 8px 4px;
  outline: none;
  border: 1px solid rgb(206, 206, 206);
}

.course-input-form input {
  padding: 8px 4px;
  outline: none;
  border: 1px solid rgb(206, 206, 206);
}

/* .course-list {
  margin-top: 2rem;
  overflow-x: auto;
} */

.add-button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 8px;
  background-color: blue;
  color: white;
  transition: opacity 0.15s, background-color 0.15s, color 0.15s;
}

.add-button:hover {
  color: white;
  opacity: 0.8;
}

.add-button:active {
  opacity: 0.6;
}

.course-list-grid-header,
.course-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

.course-list-grid-header{
  font-weight: bold;
  font-size: 1.1rem;
  /* background: #ede9fe; */
  background: #c1c0c9;
  color: #4c1d95;
  column-gap: 1rem;
}

.course-list-grid {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.course-row {
  align-items: center;
  border-radius: 6px;
  /* background: #f9fafb; */
  background: #dce6f1;
  font-size: 1rem;
  font-weight: 500;
}

.delete-button {
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: rgb(201, 0, 0);
  color: white;
  transition: background-color 0.3s ease;;
}

.calculate-button {
  display: block;
  margin: 2rem auto;
  background: #facc15;
  /* color: #222; */
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.calculate-button:hover {
  background: #eab308;
}

.result-display {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}